

.swipe-btns{
	position: fixed;
	bottom: 10vh;
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

.swipe-btns .MuiIconButton-root{
	background: #fff;
	box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipe-btn-pad{
	padding: 7px !important;
}

.swipe-btn-repeat{
	color: #f5b748 !important;
}

.swipe-btn-left{
	color: #ec5e6f !important;
}

.swipe-btn-star{
	color: #62b4f9 !important;
}

.swipe-btn-right{
	color: #76e2b3 !important;
}

.swipe-btn-lightning{
	color: #915dd1 !important;
}
